@import "tailwindcss";

@font-face {
  font-family: 'titanone';
  src: url('./assets/fonts/TitanOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --color-quiz-bg: #29165B;
  --color-quiz-accent: #F9B625;
  --font-titanone: 'titanone', sans-serif;
  --font-nunito: 'nunito', sans-serif;
}